In [2]:
#import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

CIARD = pd.read_csv("/home/xzhou/Python/Data/EXTRACTION_CNT_EN_151200_0629.csv",dtype=str,encoding='iso-8859-1',error_bad_lines=False)
#CIARD1 = pd.read_csv("/home/xzhou/Python/Data/EXTRACTION_CNT_EN_160200_0503.csv",dtype=str)

print CIARD.shape

(675087, 67)

In [3]:
CIARD.head()

,tranche_eff,tranche_eff2,branche,NUMCNT,moisa,NMCLE001,NMCLE002,NMCLE003,DTFAN,DTFRS,...,TEFEN,efencent,ETATET,effectif,nb_an,nb_rs,nb_enc,copht_an,copht_rs,copht_enc
0,2 - 50 à 4999,2 - 50 à 249,RI,0000004600183304,1,0,0,0,01/01/2010,NaN,...,21,50,A,50,0,0,1,0,0,53970.8
1,2 - 50 à 4999,2 - 50 à 249,RC,0000005353981304,2,0,0,0,14/02/2012,NaN,...,22,1,A,100,0,0,1,0,0,4858.88
2,2 - 50 à 4999,2 - 50 à 249,RC,0020541301678087,2,0,0,0,01/01/2001,NaN,...,22,1,A,100,0,0,1,0,0,9436.7
3,1 - 0 à 49,1 - 0 à 49,AUTO_PP,0000002674388204,1,0,0,0,01/01/2005,18/01/2016,...,11,10,A,10,0,0,1,0,0,927.7
4,1 - 0 à 49,1 - 0 à 49,AUTOE,0000005735096304,1,0,0,0,01/01/2013,NaN,...,11,10,A,10,0,0,1,0,0,8326.82

In [60]:
 CIARD[ (CIARD['branche'] == 'CHANT +').astype(bool) &(CIARD['MARCHE'] =='EN').astype(bool)].shape

(28708, 67)

In [61]:
set(CIARD['branche'])

{nan,
 u'AUTOE',
 u'AUTO_PP',
 u'CHANT',
 u'CHANT +',
 u'COL_LOC',
 u'CONST',
 u'IMM_EN',
 u'IMM_PP',
 u'MRP_EN',
 u'MRP_PP',
 u'MULTI',
 u'RC',
 u'RC_PP',
 u'RI',
 u'RS',
 u'RS_PP',
 u'RT',
 u'TRANSP'}

In [62]:
np.sum(CIARD['siret_final'].isnull())

0

In [63]:
## a EXECUTER SEULEMENT 1 FOIS
# del CIARD['source']

In [64]:
#CIARD.to_csv('CIARD.csv', sep='\t',index=False)

In [65]:
UVUT = pd.read_csv("/home/xzhou/Python/Data/UTUV_FINALE0905.csv",dtype=str,encoding='iso-8859-1')
Siret = pd.read_csv("/home/xzhou/Python/Data/SIRETISATION_201602.csv",dtype=str) # SIRETISATION  201602
TestCollec = pd.read_csv("/home/xzhou/Python/Data/Collective/ENTREPOT4_20160518.csv",dtype=str)
EXC_CLAUSE = pd.read_csv("/home/xzhou/Python/Data/IARD/EXC_CLAUSE.csv",dtype=str)
EXC_NUMCNT = pd.read_csv("/home/xzhou/Python/Data/IARD/EXC_NMCNT.csv",dtype=str,encoding='iso-8859-1')
EXC_UV = pd.read_csv("/home/xzhou/Python/Data/IARD/EXC_UV.csv",dtype=str)
#UVUT_finale = pd.read_csv('/home/xzhou/Python/Data/UTUV_FINALE.csv',dtype=str,sep = ';',encoding='iso-8859-1')

In [66]:
#TestIARD = pd.read_csv("/home/xzhou/Python/Test5.csv",dtype=str,sep='\t')
TestIARD = CIARD[ CIARD['branche'] != 'CHANT +']

In [67]:
TestIARD.shape

(646379, 67)

In [68]:
TestIARD.columns

Index([u'tranche_eff', u'tranche_eff2', u'branche', u'NUMCNT', u'moisa',
       u'NMCLE001', u'NMCLE002', u'NMCLE003', u'DTFAN', u'DTFRS', u'CDREGION',
       u'COPHT', u'IDETCONT', u'NMPORT', u'ITSOUSCR', u'NMCLI', u'CDREG001',
       u'MOTAN001', u'CDAGT001', u'CDAGT002', u'CDAGT003', u'CDUVENVI',
       u'CDUTC001', u'CDUTC002', u'CDUTC003', u'CDUTC004', u'CDUTC005',
       u'CDUTC006', u'CDUTC007', u'CDUTC008', u'CDUTC009', u'CDUTC010',
       u'CDUTC011', u'CDUTC012', u'CDUTC013', u'CDUTC014', u'CDUTC015',
       u'MARCHE', u'DISTRIB', u'CDFAMUV', u'siret_02', u'source', u'pole',
       u'siret_01', u'siret_03', u'etat_01', u'etat_02', u'etat_03',
       u'siret_final', u'etat_siret_final', u'type_distrib', u'REGION',
       u'id_distrib', u'SIREN', u'APET700', u'TEFET', u'efetcent', u'TEFEN',
       u'efencent', u'ETATET', u'effectif', u'nb_an', u'nb_rs', u'nb_enc',
       u'copht_an', u'copht_rs', u'copht_enc'],
      dtype='object')

In [69]:
TestIARD.shape

(646379, 67)

In [70]:
## A Executer 1 fois

EXC_Numcnt = set(EXC_NUMCNT['Numero'])
EXC_Clause = set(EXC_CLAUSE['Numero'])
EXC_Uv = set(EXC_UV['Numero'])

print 'The number of Contract to be excluded is :',len(EXC_Numcnt)
print 'The number of Clause to be excluded is :',len(EXC_Clause)
print 'The number of Uv to be excluded is :',len(EXC_Uv)

The number of Contract to be excluded is : 2138
The number of Clause to be excluded is : 118
The number of Uv to be excluded is : 13

In [71]:
# # From table of IARDcontracts, we are going to add a new column indicating whether to exclude (1 to exlude, 0 not)
# ##A executer uniquement pour verifier.
# import time 
# n = TestIARD.shape[0]

# print n
# L=[]
# a=time.time()

# #Check consecutively for each instance, if NUMCNT, NUMCL,UV in the forbidden sets, then the indicator equals to 1
# for i in range(n):
    
#     ind = 0
#     if (TestIARD.iloc[i,0] in EXC_Numcnt):# check for NUMCNT
#         ind = 1
#         L.append(ind)
#         continue
#     elif (TestIARD.iloc[i,2] in EXC_Clause):# check for three clauses for each contract
#         ind = 1
#         L.append(ind)
#         continue
#     elif (TestIARD.iloc[i,3] in EXC_Clause):
#         ind = 1
#         L.append(ind)
#         continue
#     elif (TestIARD.iloc[i,4] in EXC_Clause):
#         ind = 1
#         L.append(ind)
#         continue
#     elif (TestIARD.iloc[i,19] in EXC_Uv):#check for UV
#         ind = 1
#         L.append(ind)
#         continue
#     L.append(ind)
#     if (i % 50000==0):
#         print i
    
# TestIARD['Exclu']= L

# b = time.time()
# print "time needed :", (b-a)  # We need about 30s to check 47 689 instances
# print "Number of contract rejected:",sum(L)

In [72]:
#A executer une fois seulement
#keep in mind with the empty value use.

temp= pd.DataFrame({'CDUVENVI':TestIARD['CDUVENVI'],'NUMCNT':TestIARD['NUMCNT'],'NMCLE001':TestIARD['NMCLE001'],'NMCLE002':TestIARD['NMCLE002'],'NMCLE003':TestIARD['NMCLE003']})

# nettoyer les champs inutiles, garder uniquement un variable "Branche" comme indicateur, si l'échantillon est inclus ou pas dans la liste à exclure. et le renommer
# pour simplifier la vie.

Join6 = pd.merge(temp ,EXC_NUMCNT , how='left', left_on = 'NUMCNT', right_on='Numero')
del Join6['Nom_groupement']
del Join6['Numero']
Join6.rename(columns={'Branche': '1'}, inplace=True)

Join7 = pd.merge(Join6 ,EXC_UV , how='left', left_on = 'CDUVENVI', right_on='Numero')
del Join7['Nom_groupement']
del Join7['Numero']
Join7.rename(columns={'Branche': '2'}, inplace=True)

Join8 = pd.merge(Join7 ,EXC_CLAUSE , how='left', left_on = 'NMCLE001', right_on='Numero')
del Join8['Nom_groupement']
del Join8['Numero']
Join8.rename(columns={'Branche': '3'}, inplace=True)

Join9 = pd.merge(Join8 ,EXC_CLAUSE , how='left', left_on = 'NMCLE002', right_on='Numero')
del Join9['Nom_groupement']
del Join9['Numero']
Join9.rename(columns={'Branche': '4'}, inplace=True)

Join10 = pd.merge(Join9 ,EXC_CLAUSE , how='left', left_on = 'NMCLE003', right_on='Numero')
del Join10['Nom_groupement']
del Join10['Numero']
Join10.rename(columns={'Branche': '5'}, inplace=True)

In [73]:
# remmetre les échantillons dans l'ordre de départ en fusionnant avec la dataframe initiale
aa = pd.merge(temp,Join10 , how='left', on = ['NUMCNT','CDUVENVI'])

# compter les indexes à exclure, sauf les derniers

Index_numcnt = aa['1'].isnull()
Index_uv = aa['2'].isnull()
Index_clause1 = aa['3'].isnull()
Index_clause2 = aa['4'].isnull()
Index_clause3 = aa['5'].isnull()

keep = Index_numcnt & Index_uv & Index_clause1 & Index_clause2 & Index_clause3

#Si tout va bien, remplir le champs Exclu par ~keep
exclu = (~keep).astype(int)
TestIARD.loc[:,('Exclu')] =exclu.values

In [74]:
(~keep).astype(int)

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        1
27        0
28        0
29        0
         ..
646349    0
646350    0
646351    0
646352    0
646353    0
646354    0
646355    0
646356    0
646357    0
646358    0
646359    0
646360    0
646361    1
646362    0
646363    0
646364    0
646365    0
646366    0
646367    0
646368    0
646369    0
646370    0
646371    0
646372    1
646373    0
646374    1
646375    0
646376    0
646377    0
646378    0
dtype: int64

In [75]:
TestIARD['Exclu']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
23        0
24        0
25        0
26        0
28        1
29        0
30        0
31        0
         ..
675057    0
675058    0
675059    0
675060    0
675061    0
675062    0
675063    0
675064    0
675065    0
675066    0
675067    0
675068    0
675069    1
675070    0
675071    0
675072    0
675073    0
675074    0
675075    0
675076    0
675077    0
675078    0
675079    0
675080    1
675081    0
675082    1
675083    0
675084    0
675085    0
675086    0
Name: Exclu, dtype: int64

In [76]:
TestIARD.shape

(646379, 68)

In [77]:
# #vérifier le résultat correspond à celui de la méthode directe
# ll = TestIARD['Exclu']==~keep
# print "le numbre de l'incohérence est", sum(~ll)

# # afficher les échantillons dont l'excusion n'est pas uniforme
# #TestIARD[~ll]
# aa[~ll]
# #Si les variable uv ou numcnt sont nuls, ce sera elimine automatiquement,

In [78]:
TestIARD.shape

(646379, 68)

In [79]:
#CONSTRUIRE LES EQUIPEMENTS DU MARCHE PP(QUI SONT PEU PROBABLEMENT EXCLU PAR LES REGLES APPLIQUEES POUR LES ENTREPRISE) 
# a VERIFIER

PP = TestIARD[TestIARD['MARCHE'] == 'PP']

print PP.shape

PP1 = PP[['NUMCNT','Exclu','CDFAMUV','CDUVENVI','CDUTC001','CDUTC002','CDUTC003','CDUTC004','CDUTC005','CDUTC006',
             'CDUTC007','CDUTC008','CDUTC009','CDUTC010','CDUTC011','CDUTC012','CDUTC013',
             'CDUTC014','CDUTC015']]

(246352, 68)

In [80]:
# list of UT associe a cdfamuv ="22"
l1 = ["00014","00364","00374","12321","11441","02402","12521","02212","51671","00267","11681","12491","12721"]
l2 = ["00384","620","50551","08122","01371"]
l3 = ["02474","02974","00477","00847","00867","00427","57061"]

In [81]:
PP1.head()

,NUMCNT,Exclu,CDFAMUV,CDUVENVI,CDUTC001,CDUTC002,CDUTC003,CDUTC004,CDUTC005,CDUTC006,CDUTC007,CDUTC008,CDUTC009,CDUTC010,CDUTC011,CDUTC012,CDUTC013,CDUTC014,CDUTC015
3,0000002674388204,0,01,03254,00014,00024,00034,00044,00054,00064,00084,05914,02934,03584,05924,NaN,NaN,NaN,NaN
7,0000006760341804,0,22,02324,00314,00514,00414,00324,00344,00354,02894,00304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0000002537474404,0,01,03254,00014,00024,00034,00044,00064,00084,05914,02934,03584,05924,NaN,NaN,NaN,NaN,NaN
10,0000003637228604,0,22,02324,00314,00514,00414,00324,00344,00354,00334,00384,00364,02894,03674,00304,NaN,NaN,NaN
11,0000004443304904,0,01,03254,00014,00024,00034,00044,00054,00064,00084,05914,02934,03584,05924,NaN,NaN,NaN,NaN

In [82]:
PP1.shape

(246352, 19)

In [83]:
Temp1 = PP1.values
Temp2 = PP1.isnull().values
n = PP1.shape[0]
print n
L=[]
for i in range(n):
    if Temp1[i,2] == '22':
        for j in range(15):
            if  Temp1[i,j+4] in l1:
                L.append((Temp1[i,0],Temp1[i,1],"RC"))
            elif Temp1[i,j+4] in l2:
                L.append((Temp1[i,0],Temp1[i,1],"Perte_Exploitation"))
            elif Temp1[i,j+4] in l3:
                L.append((Temp1[i,0],Temp1[i,1],"PJ"))
            elif not(Temp2[i,j+4]):
                L.append((Temp1[i,0],Temp1[i,1],"Incendie_vol_autres_risques"))
    if Temp1[i,2] == '44':
         L.append((Temp1[i,0],Temp1[i,1],"RC"))
        
    if Temp1[i,2] == '52':
         L.append((Temp1[i,0],Temp1[i,1],"PJ"))
        
    if Temp1[i,2] == '01':
         L.append((Temp1[i,0],Temp1[i,1],"Flotte"))
    
    if i % 10000 == 0: print i

246352
0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000

In [84]:
print L[:10]

[(u'0000002674388204', 0, 'Flotte'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000006760341804', 0, 'Incendie_vol_autres_risques'), (u'0000002537474404', 0, 'Flotte')]

In [85]:
            
ci = [x[0] for x in L]
ex = [x[1] for x in L]
eq = [x[2] for x in L]

PP_equi = pd.DataFrame( {'NUMCNT':ci , 'Exclu': ex,'equipement':eq}).drop_duplicates(subset = ['Exclu','NUMCNT','equipement'])

In [86]:
PP_equi.head()

    Exclu            NUMCNT                   equipement
0       0  0000002674388204                       Flotte
1       0  0000006760341804  Incendie_vol_autres_risques
9       0  0000002537474404                       Flotte
10      0  0000003637228604  Incendie_vol_autres_risques
17      0  0000003637228604           Perte_Exploitation

In [87]:
PP_equi.to_csv('PP_equi.csv',dtype=str,index=False)

In [88]:
#set(TestIARD['CDFAMUV'])

In [89]:
Siret.head()

,nmcli,numcnt,dtfan,dtfrs,branche,pole,siret_final,etat_siret_final,source,anciennete,CODE_GESTIONNAIRE,NO_PORTEFEUILLE
0,0000000000,0037504851143187,NaN,NaN,AUTOE,COURTIER,NaN,NaN,NaN,NaN,0000005298,0204037884
1,0000000000,0037504850765387,NaN,NaN,AUTOE,COURTIER,NaN,NaN,NaN,NaN,0000005298,0204037884
2,0000000000,0000660287640100,10/03/1989,NaN,INCONNU,AGENT,NaN,NaN,NaN,NaN,NaN,NaN
3,0000000000,0000660277230000,03/01/1989,NaN,INCONNU,AGENT,NaN,NaN,NaN,NaN,NaN,NaN
4,0000000000,0000660290020000,10/03/1989,NaN,INCONNU,AGENT,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
Siret2 = Siret[['numcnt','siret_final','etat_siret_final']]
Siret2.columns =['NUMCNT','Siret','etat_siret_final']

##Selectionner seulement les contrats de l'entreprise

TestIARD = TestIARD[TestIARD['MARCHE'] == 'EN']

print TestIARD.shape

Temp = TestIARD[['NUMCNT','Exclu','CDUVENVI','CDUTC001','CDUTC002','CDUTC003','CDUTC004','CDUTC005','CDUTC006',
             'CDUTC007','CDUTC008','CDUTC009','CDUTC010','CDUTC011','CDUTC012','CDUTC013',
             'CDUTC014','CDUTC015']]
Temp1 = Temp.values
Temp2 = Temp.isnull().values
n = Temp.shape[0]
print n
L=[]
for i in range(n):
    if Temp2[i,2]:
        continue
    for j in range(15):
        if  ~Temp2[i,j+3]:
            L.append((Temp1[i,0],Temp1[i,1],Temp1[i,2],Temp1[i,j+3]))

(400017, 68)
400017

In [91]:
len(L)

2477176

In [92]:
            
            
ci = [x[0] for x in L]
ex = [x[1] for x in L]
uv = [x[2] for x in L]
ut = [x[3] for x in L]

ConIDuvut = pd.DataFrame( {'NUMCNT':ci , 'Exclu': ex,'UV' : uv, 'num_ut' : ut })

Temp3 = pd.merge(ConIDuvut, UVUT, how='left', on=['UV','num_ut'])
Temp3 = Temp3[['Exclu','NUMCNT','equipement']]

print Temp3.shape
print PP_equi.shape

# concatenate EN and PP
t_equi = pd.concat([Temp3,PP_equi],ignore_index=True)

(2477176, 3)
(304662, 3)

In [93]:
# la siretisation est faite au moment de l'extraction et on ne garde que de siret Actif
SiretIARD = CIARD[['NUMCNT','siret_final']]
SiretIARD.columns=['NUMCNT','Siret']

Temp4 = pd.merge(t_equi,SiretIARD, how='left',on='NUMCNT')

Temp5 = Temp4[['Siret','Exclu','equipement']]

In [94]:
CIARD.columns

Index([u'tranche_eff', u'tranche_eff2', u'branche', u'NUMCNT', u'moisa',
       u'NMCLE001', u'NMCLE002', u'NMCLE003', u'DTFAN', u'DTFRS', u'CDREGION',
       u'COPHT', u'IDETCONT', u'NMPORT', u'ITSOUSCR', u'NMCLI', u'CDREG001',
       u'MOTAN001', u'CDAGT001', u'CDAGT002', u'CDAGT003', u'CDUVENVI',
       u'CDUTC001', u'CDUTC002', u'CDUTC003', u'CDUTC004', u'CDUTC005',
       u'CDUTC006', u'CDUTC007', u'CDUTC008', u'CDUTC009', u'CDUTC010',
       u'CDUTC011', u'CDUTC012', u'CDUTC013', u'CDUTC014', u'CDUTC015',
       u'MARCHE', u'DISTRIB', u'CDFAMUV', u'siret_02', u'source', u'pole',
       u'siret_01', u'siret_03', u'etat_01', u'etat_02', u'etat_03',
       u'siret_final', u'etat_siret_final', u'type_distrib', u'REGION',
       u'id_distrib', u'SIREN', u'APET700', u'TEFET', u'efetcent', u'TEFEN',
       u'efencent', u'ETATET', u'effectif', u'nb_an', u'nb_rs', u'nb_enc',
       u'copht_an', u'copht_rs', u'copht_enc'],
      dtype='object')

In [95]:
Temp6 = Temp5[~(Temp5['Siret'].isnull()|Temp5['equipement'].isnull())]
#Temp6 = Temp6[Temp6['etat_siret_final']=='A']
##Attention!!! le filtage sur Etat siret doit etre fait avec l'INSEE, au lieu de SIRETISATION
##Code to calculate equipement

Temp7 = Temp6[['Siret','equipement']].drop_duplicates(subset=['Siret','equipement'])#, keep='first')
ss = Temp7['equipement'].apply(lambda x : str(x) +';')
Temp7.loc[:,'equipement'] = ss.values


groupedIARD = Temp7.groupby('Siret').sum()


groupedIARD.reset_index(level=0, inplace=True)



## Code to calculate Exclu indicator
Exclu_ind =  Temp6[['Siret','Exclu']].drop_duplicates(subset=['Siret','Exclu'])#, keep='first')
grouped_exc = Exclu_ind.groupby('Siret').sum()


## Combine equipement and ind 
if groupedIARD.shape[0] != grouped_exc.shape[0]: print "Alert"
groupedIARD['Exclu'] = grouped_exc['Exclu'].values


##So far, we have a table with (siret,equipement,exclu) of Collective Contract : groupedIARD

In [96]:
##CONTRACTS COLLECTIVE
#Create a copy of SERITISATION
Siret3 = Siret[['numcnt','siret_final','etat_siret_final']]
Siret3.columns =['NUMCNT','Siret','etat_siret_final']
#reject instances with out Siret
Siret_13 = Siret3[~(Siret3['Siret'].isnull())].reset_index(drop=True)

Siret_13.loc[:,'NUMCNT']=Siret_13['NUMCNT'].apply(lambda x: x[1:14])

TempCollec1 = TestCollec[['IDCORP','prevoyance','sante']].values

L=[]
for i in range(TempCollec1.shape[0]):
    if TempCollec1[i,1]=='1':
        L.append((TempCollec1[i,0],'Prevoyance'))
    if TempCollec1[i,2]=='1':
        L.append((TempCollec1[i,0],'Sante'))
        
numcnt = [x[0] for x in L]
equipement = [x[1] for x in L]

TempCollec2 = pd.DataFrame( {'NUMCNT':numcnt, 'equipement' : equipement })

TempCollec3 = pd.merge(TempCollec2,Siret_13, how='left',on='NUMCNT')
TempCollec3 = TempCollec3[TempCollec3['etat_siret_final']=='A']

In [97]:
TempCollec3[TempCollec3['Siret'] == '01555166600017']

Empty DataFrame
Columns: [NUMCNT, equipement, Siret, etat_siret_final]
Index: []

In [98]:
#eliminate instances without Siret
TempCollec4 = TempCollec3[~TempCollec3['Siret'].isnull()]

TempCollec5 = TempCollec4[['Siret','equipement']].drop_duplicates(subset=['Siret','equipement'])

ss = TempCollec5['equipement'].apply(lambda x : str(x) +';')
TempCollec5.loc[:,'equipement'] = ss.values 

groupedCollec = TempCollec5.groupby('Siret').sum()
groupedCollec.reset_index(level=0, inplace=True)

##adding null Exclu indicator for Collective Contracts
groupedCollec['Exclu'] = 0

## Here we have a table with (siret,equipement,exclu) of Collective Contract :groupedCollec

In [99]:
np.sum(groupedCollec.isnull())

Siret         0
equipement    0
Exclu         0
dtype: int64

In [100]:
final1 = pd.concat([groupedIARD,groupedCollec],ignore_index=True)
#Even it seems unlikely to have duplication of equipement, but we are going to repeat the previews algo
# It means to combine equipement and Exclu seperately by grouping Siret

final2 = final1[['Siret','equipement']].drop_duplicates(subset=['Siret','equipement'])#, keep='first')
grouped_equi = final2.groupby('Siret').sum()
grouped_equi.reset_index(level=0, inplace=True)

In [101]:
grouped_equi.head()

            Siret                                         equipement
0  00552017600016                                        Prevoyance;
1  00552024200016  Incendie_vol_autres_risques;Bris_Machine;Perte...
2  00558043600011                                       RCdirigeant;
3  00562003400016                                         Flotte;PJ;
4  00562019000040             Incendie_vol_autres_risques;RC;Flotte;

In [102]:
grouped_equi.head()

            Siret                                         equipement
0  00552017600016                                        Prevoyance;
1  00552024200016  Incendie_vol_autres_risques;Bris_Machine;Perte...
2  00558043600011                                       RCdirigeant;
3  00562003400016                                         Flotte;PJ;
4  00562019000040             Incendie_vol_autres_risques;RC;Flotte;

In [103]:
final3 =  final1[['Siret','Exclu']].drop_duplicates(subset=['Siret','Exclu'])#, keep='first')
grouped_exc = final3.groupby('Siret').sum()


if grouped_exc.shape[0] != grouped_equi.shape[0]: print "Attention"
grouped_equi['Exclu'] = grouped_exc['Exclu'].values


###transform into sparse matrix

ind = grouped_equi['equipement'].str.get_dummies(sep=';')#.add_prefix('equip_')

Final=  pd.concat([grouped_equi[['Siret','Exclu']], ind], axis=1)

In [104]:
Final.head()

,Siret,Exclu,Bris_Machine,Caution_Garanties_Financieres,Chantier,Cyber,Flotte,Incendie_vol_autres_risques,Location_materiel,Marchandises_Transportees_Propre,PJ,Perte_Exploitation,Perte_emploi,Prevoyance,RC,RCdirigeant,Responsabilite_environnement,Sante
0,00552017600016,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,00552024200016,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
2,00558043600011,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,00562003400016,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,00562019000040,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0

In [105]:
Final.shape

(267625, 18)

In [106]:
Final.to_csv('equipement_exclu_total_2015.csv', sep='\t', encoding='utf-8',index=False)

## Partie pour la comparaison